{% extends 'main.html' %}
{% block body %}
<div class="wrap">
   <h1 class="register-title">Welcome to Questioner</h1><form class="register">
      <div class="register-switch">
         <input type="radio" name="sex" value="F" id="sex_f" class="register-switch-input" checked>
         <label for="sex_f" class="register-switch-label">Female</label>
         <input type="radio" name="sex" value="M" id="sex_m" class="register-switch-input">
         <label for="sex_m" class="register-switch-label">Male</label>
      </div>
      <input type="text" class="register-input" placeholder="Firstname" required>
      <input type="text" class="register-input" placeholder="Lastname" required>
      <input type="username" class="register-input" placeholder="Username" required>
      <input type="email" class="register-input" id="password" placeholder="Email address" required>
      <input type="password" class="register-input" placeholder="Password" required>
      <input type="password" class="register-input" id="confirm_password" placeholder="Confirm Password" required>
      <input type="submit" value="Create Account" class="register-button" required>
        
   <h3>Already have an <a href="">Account</h3>
   </form>
</div>
{% endblock body %}
